<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Polymer with TypeScript</title>

	<!-- webcomponents, polymer standard, polymer-ts -->
	<script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
	<link rel="import" href="bower_components/polymer/polymer.html">
	<link rel="import" href="bower_components/polymer-ts/polymer-ts.html">

	<link rel="import" href="app/<%= elementName %>.html" async>
	<!-- custom elements -->
	<!--<link rel="import" href="elements/my-element.html">
    <link rel="import" href="elements/my-timer.html">
    <link rel="import" href="elements/my-simple.html">
    <link rel="import" href="elements/my-inline.html">
    <link rel="import" href="elements/template-url.html">-->


</head>

<body>
	<h1>Polymer with TypeScript example</h1>
	<hr />
	<<%=e lementName %> unresolved></<%=e lementName %>>
</body>

</html>